{% extends 'base.html.twig' %}

{% block body %}
<div>
    <a href="{{  path('fos_user_registration_register') }}">Register</a>
</div>
<div>
    <a href="{{  path('app_book_index') }}">Books list</a>
</div>
<div>
    <a href="{{  path('app_book_new') }}">Add book</a>
</div>
{% endblock %}